[submodule "sources/dvtm"]
	path = sources/dvtm
	url = https://github.com/TheLudd/dvtm.git
[submodule "sources/st"]
	path = sources/st
	url = https://github.com/TheLudd/st.git
[submodule "sources/dwm"]
	path = sources/dwm
	url = https://github.com/TheLudd/dwm.git
[submodule "sources/dwmblocks"]
	path = sources/dwmblocks
	url = https://github.com/TheLudd/dwmblocks.git
[submodule "sources/dmenu"]
	path = sources/dmenu
	url = https://github.com/TheLudd/dmenu.git
